package @PACKAGE_NAME@;

import java.util.Properties;

import io.warp10.warp.sdk.AbstractWarp10Plugin;

public class PleaseRenameWarp10Plugin extends AbstractWarp10Plugin {

  @Override
  public void init(Properties properties) {
  }
}
